*{
    margin: 0;
    padding: 0;
} 

body{
    background-image: url(../img/fondo2.2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: saturate(0%);
    
}

/*---barra de navegacion---*/
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar:hover{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: transparent;

}

::-webkit-scrollbar-thumb{
    background: #AAAAAA;
    border-radius: 10px;
}

/*-------------form del login---------------------*/

.form_login{
    background: #fff;
    width: 374px;
    height: 570px;
    position: relative;
    margin-bottom: 4%;
    margin: 3% auto;
    
}


.form__submit{
    display: block;
    margin: 20px auto 20px;
    width: 20rem;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px; /*lo que hace es darle un borde redondeado en todos los extremos del boton*/
    font-size: 14px;
    cursor: pointer;
    transition: .5s; 
    font-weight: bold;
    background-color: transparent;
    color: #000;
}

.form__submit:hover{  /*el :hover hace que ocurra un efecto cuando pasamos el mouse por ese elemento*/
    font-size: 15px;
    background-color: #dadada;
}

.login{
    text-align: center; /*sirve para alinear el texto en el centro*/
    padding: 10px 0 0 10px;
    font-size: 15px;
    color: #000;
}

.login a{
    text-align: center; /*sirve para alinear el texto en el centro*/
    padding: 7px;
    font-weight: bold;
    text-decoration: none;
}
/*-------------------------------------------------------------*/

/*-------------------form de registrarse---------------------*/

.form_register{
    background: #fff;
    width: 380px;
    height: 90vh;
    position: relative;
    margin: 2% auto;
}


.terminos{
    display: inline;  /*lo que hace es comvertir el elemento en un elemento enlinea y que ocupe solo
                      el espacio de si mismo asi no empiece no ocupe la linea completa*/
    font-size: 15px;
    color: #000;
}

.form__submit1{
    display: block;
    margin: 30px auto;
    width: 20rem;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px; /*lo que hace es darle un borde redondeado en todos los extremos del boton*/
    font-size: 14px;
    cursor: pointer;
    transition: .5s; 
    font-weight: bold;
    background-color: transparent;
    color: #000;
}

.form__submit1:hover{  /*el :hover hace que ocurra un efecto cuando pasamos el mouse por ese elemento*/
    font-size: 15px;
    background-color: #eeeeee;
}

.login1{
    text-align: center; /*sirve para alinear el texto en el centro*/
    margin-top: 30px;
    font-size: 15px;
    color: #000;
    
}

.login1 a{
    text-align: center; /*sirve para alinear el texto en el centro*/
    padding: 8px;
    font-weight: bold;
    text-decoration: none;
}

.cont{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 160px;
    margin-bottom: 5px;
}
/*-------------------------------------*/
/*----------clases generales-----------*/
.log{
    width: 375px;
    height: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

.log2{
    margin-top: -1px;
    width: 381px;
    height: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

.loga{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin: -25% 35%;
    opacity: 1;
}

a:link{                 
    color: #246edd;   
}

a:visited{
    color: #4796fd;       /*a: lo que hace es indicarle ala pagina los estados que va a tener el link*/
}

a:active{
    color: #6198e0;
}


.check{
    background-color: rgb(16, 190, 4);
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.error,.faild{
    background-color: rgb(167, 34, 34);
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

