 *{
    margin: 0;
    padding: 0;    
}

html{
    scroll-behavior: smooth;
    scroll-padding: 63px;
}

body{
    background-image: linear-gradient(135deg, #000 0%, #051644 130%);
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;

}
/*---barra de navegacion---*/
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar:hover{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-image: linear-gradient(135deg, rgb(0, 0, 0) 0%, #051644 130%);

}

::-webkit-scrollbar-thumb{
    background: #AAAAAA;
    border-radius: 10px;
}
/*----------------------------*/
 /*---------Menu de navegacion---------*/        
 
 .logo3{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    height:85px;
    padding: 12px 20px;
    transition: 0.7s;
    z-index: 50;
    box-sizing: border-box;
}

.menu{
    background-color: transparent;
    box-shadow: none;
}

.logo2{
    height: 65px;
    width: 170px;
    min-height: 65px;
    min-width: 168px;
    margin-left: 15px;
}

header.abajo{
    background: #fff;
    padding: 12px 20px;
}
        
header .logo{
    position: relative;
    font-size: 2em;
    transition: 1.5s;
}
        
header ul{
    position: relative;
    justify-content: center;
    align-items: center;
}
        
header ul li {
    list-style: none;
}

.fondo{
    width: 100%;
    height: 100vh;
    background: url(../img/fondo1.4.png);
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

header.abajo .logo,
header.abajo ul li a{
  color: #000;  
}

.menu.abajo ul li a:hover{  /*el :hover sirve para indicar lo que va a pasar despues de pasar el mouse por ahi*/
    color: #000;
    
}

.menu ul li a{
    position: relative;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0 -3px;
    font-weight: 600;   /*es para darle un grosor a la letra*/
    transition: 0.7s;
} 

.menu ul li a:hover{
   color: #fff;
   box-shadow: 0 0  50px #000;
   border-radius: 50%;
   background-color: transparent;
   
}

header.abajo ul li a:hover{
    color: #000;
    box-shadow: 0 0  50px #000;
    border-radius: 50%;
    background-color: transparent;
 }
/*------------------------------------*/

.content {
    color: #fbfcfd;
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 10;    /*sirve para posicionar un elemento por encima del otro*/
}

small {
     font-size: 30px;
     font-weight: 600;
}

h1 {
    font-size: 160px;
    line-height: 160px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../img/back.png);   /*ajusta esa imagen dentro del texto para despue activar la animacion con el keyframes*/
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 30s linear infinite;  /*sirve para indicarle cuanto va a durar la animacion y como se va a ejecutar*/
}

@keyframes back {
    100% {
        background-position: 2000px 0;   /*le indica desde que posicion va a empezar la animacion*/
    }
    
}

h3 {
    font-size: 30px;
    font-weight: 500; 
}

.content .row {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.content a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    align-items: center;
}    
    
.content a span {
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}  
    
hr {
    width: 85%;
    height: 2px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}   
 /*---------------------------------*/ 

/*--------Estilos de tatuajes--------*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}

.subtitle{
    text-align: center;
	font-size: 40px;
    line-height: 160px;
    color: transparent;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #fff;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 30s linear infinite;
}

.card{
	width: 100%;
    position: relative;
	margin: 20px;
	border-radius: 6px;
	background:#fff;
    box-shadow: 1px 4px 10px 0 rgb(194, 194, 194);
	transition: .5s;
}

.card:hover{
	box-shadow:  2px 5px 10px 0 rgb(71, 71, 71);
	transform: translateY(-3%);  /*lo que hace es darle un pequeño zoom ala imagen en este caso hacia arriba*/ 
}

.card img{
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: -15px 0px -50px -40px;
	width: 136.6%;
	height: 230px;
}

.card .contenido-card{
	padding: 15px;
	text-align: center;
}

.card .contenido-card h3{
	margin-bottom: 15px;
	color: #000;
}

.card .contenido-card p{
	line-height: 2;
	color: #000;
	font-size: 14px;
	margin-bottom: 5px;
}

.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	border-radius: 4px;
	transition: .5s; /*lo que hace es darle una transicion para despues en el hover cambie de color de manera mas lenta */
	margin-bottom: 5px;
}

.card .contenido-card a:hover{
	background: #000;
	color: #fff;
}
 /*---------------------------------*/

 /*--------horarios de atencion--------*/
 .horarios h2{
    text-align: center;
	font-size: 60px;
    line-height: 160px;
    color: transparent;
    letter-spacing: 1px;   /*lo que hace es que va a dejar un espacio entre cada letra del texto*/
    -webkit-text-stroke: 1px #fff;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 30s linear infinite;
}

.horarios h3{
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 45px;
    letter-spacing: 3px;
    margin-top: -20px;
}

.horarios h5{
    color: #fff;
    text-align: center;  /*alinea el texto en el centro*/
    padding: 5px;
    font-size: 30px;
}

.reloj{
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: #fff
}

.horarios p{
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 25px;
     margin-top: 5px;
}
.ubi h2{
    text-align: center;
	font-size: 60px;
    line-height: 160px; /*lo que hace es que va a dejar un espacio partiendo desde la mitad del texto tanto para arriba como para abajo*/
    color: transparent;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #fff;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 30s linear infinite;
}

iframe{
    width: 95%;
    margin-left: 30px;
}
/*--------------------------*/

/*-------pie de pagina-------*/
   
footer {
    width: 100%;
    background: #fff;
    border-top-left-radius: 60px;  /*le da un borde en la parte de arriba ala izquierda*/
    border-top-right-radius: 60px; /*le da un borde en la parte de arriba ala derecha*/
    color: #000;
    padding: 40px 0 20px;
    font-size: 15px;
    line-height: 20px;
}    

footer hr{
    width: 85%;
    height: 2px;
    border-bottom: 3px solid #000;
    margin: 20px auto;
}
    
.pie-pagina{
    width: 85%;
    margin: auto;
    display: flex;  /*hace que todo el contenido vaya en fila y asi poderlos acomodar mejor*/
}    
.descrip{
    margin: 0 10px 0 -50px;
}    

.logo_footer {
    width: 14em;
    height: 7em; 
    margin-bottom: 10px;
} 

.descrip p{
    font-size: 16px;
    font-weight: 600;

}  

.submenu {
    text-align: center;
    margin: 20px 0 20px 110px; /*sirve para definir la posicion del elemento y donde se va a ubicar en la pagina*/
}  

.submenu h3{
    margin-bottom: 15px;
    font-weight: bold;  /*lo que hacer es colocar la letra en negrilla*/
}

.redes{
    text-align: center;
    margin: 20px -40px 0 100px;
}

.redes h3{
    margin-bottom: 15px;
    font-weight: bold;
}
    
.submenu ul li {
    list-style: none;
    margin-bottom: 12px;
    text-align: center;
}   
    
.submenu ul li a {
    text-decoration: none;  /*sirve para quitarle los estilos predeterminados que tienen los link*/
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}    
    
.submenu ul li a:hover {
    background: #000;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;

}

.social-icons .fab {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    cursor: pointer;
    transition: .5s;
}      

.social-icons .fab:hover{
    color: #162C9B
}
    
.copyright {
    text-align: center;
    font-size: 25px;
}
/*--------------------------*/
@media only screen and (max-width:1052px) {
    .logo2 {
        height: 55px;
        width: 150px;
        min-height: 40px;
        min-width: 130px;
        margin-left: -15px;
    }

    .menu ul li a{
        margin: 0 -7px;
    } 
}

@media only screen and (max-width:943px) {
    h1 {
        font-size: 140px;
        display: flex;
        flex-wrap: wrap;
    }
}

/*---------------------loader-------------------*/
#loader{
    margin: 25% auto;

}

.txtload{
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
    animation: txtload .8s alternate infinite ease-in-out;
}

@keyframes txtload{
    0%{
        opacity: .2;
    }

    100%{
        opacity: 1;
    }
}