.Password {
    position: relative;
}

.Password div {
    z-index: 2;
    position: relative;
}


.Password input {
    margin: 20px -10px -30px -10px;
    padding: 10px;
    font-size: 15px;
} 

.Password input:read-only {
    color: #aaa;
}

.Password i:hover {
    color: rgb(0, 123, 255);
}

.Password i {
    cursor: pointer;
    font-style: normal;
    text-align: center;
    display: block;
    position: absolute;
    line-height: 40px;
    top: 25px;
    font-size: 25px;
    right: 5px;
    color: rgb(148, 148, 148);
}

.Password i:before {
    font-family: 'Line Awesome Free';
}

.Password input[type='password']~i:before {
    content: "\f06e";
}

.Password input[type='text']~i:before {
    content: "\f070";
}

.Password p:nth-child(2) {
    margin-top: 10px;
}

.Password p b {
    font-weight: normal;
}

.Password p {
    line-height: 25px;
    margin: 2px 0px 0px 10px;
    padding-left: 40px;
    font-size: 15px;
    position: relative;
    display: none;
}

.Password p:after {
    height: 38px;
    overflow: hidden;
    width: 20px;
    border: 1px solid rgb(148, 148, 148);
    border-right: none;
    border-top: none;
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 50%;
    top: 99%;
    margin-top: -12%;
}

.Password p:before {
    height: 6px;
    top: -60%;
    background: #000;
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    width: 6px;
    left: 21px;
    top: 99%;
    margin-top: -3%;
    
}

.Password p i {
    display: none;
    line-height: 25px;
    float: left;
    margin-right: 5px;
}

.Password p.active {
    display: block;
}

.Password p.invalid {
    color: rgb(102, 0, 0);
}

.Password p.valid {
    color: rgb(0, 102, 46);
}

.Password p.valid span:after {
    color: rgb(85, 208, 134);
    margin-right: 5px;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f00c";
}

.Password p.valid i {
    display: block;
}
